%heading {
      font-family: $font-display;
      font-weight: 400;
}

.heading--1 {
      @extend %heading;
      font-size: 5rem;
      line-height: 1;

      &-dark {
            color: $color-grey-dark;
      }

      &-light {
            color: $color-secondary;
      }
}

.heading--2 {
      @extend %heading;
      font-size: 3rem;
      line-height: 1;
      
      &-dark {
            color: $color-grey-dark;
      }

      &-light {
            color: $color-white;
      }
}

.heading--3 {
      @extend %heading;
      font-size: 2.2rem;
      line-height: 1.4;
      color: $color-grey-dark-2;
}

.heading--4 {
      @extend %heading;
      font-size: 2rem;
      line-height: 1.2;

      &-dark {
            color: $color-primary;
      }

      &-light {
            color: $color-white;
      }
}

.btn,.btn:active,.btn:focus {
      font-size: 2rem;
      border: none;
      outline: none;
      font-family: $font-display;
      padding: 1.5rem 4rem;
      cursor: pointer;
      color: $color-white;
}