%heading {
      font-family: $font-display;
      font-weight: 400;
}

.heading--1 {
      @extend %heading;
      font-size: 5rem;
      color: $color-grey-dark;
      line-height: 1;
}

.heading--3 {
      @extend %heading;
      font-size: 2.2rem;
      line-height: 1.4;
      color: $color-grey-dark-2;
}

.heading--4 {
      @extend %heading;
      font-size: 2rem;
      line-height: 1.2;
      color: $color-primary;
}

.btn {
      font-size: 2rem;
      border: none;
      outline: none;
      font-family: $font-display;
      padding: 1.5rem 4rem;
      cursor: pointer;
      color: $color-white;
}