.workshops {
      grid-column: center-start/center-end;
      padding: 6rem;
      color: $color-white;

      display: grid;
      grid-template-rows: min-content min-content;
      grid-template-columns: 1fr;
      margin: 8rem 0;
      grid-gap: 6rem;

      &__cards {
            grid-row: 2 / -1;
            display: grid;
            grid-row-gap: 4rem;
            grid-column-gap: 2.5rem;
            grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
            background-color: turquoise;
      }
}

.workshopCard {

      &__image {
            height: 20rem;
            width: 100%;
      }
}