.contact {
      grid-column: center-start / center-end;
      padding: 8rem;
      display: grid;
      grid-template-rows: repeat(5,min-content);
      grid-template-columns: 1fr;
      row-gap: 2rem;

      &__heading {
            justify-self: center;
      }

      &__underline {
            width: 50%;
            justify-self: center;
            background-color: $color-primary-dark;
            height: 0.3rem;
      }

      &__contactUsContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2rem 0;
      }

      &__contactText {
            font-family: $font-primary;
            font-weight: 400;
            font-size: 1.8rem;
            color: $color-black;
      }

      &__contactLink {
            text-decoration: none;
            font-family: $font-primary;
            font-weight: 400;
            font-size: 1.8rem;
            color: $color-primary;
            margin-left: 1.5rem;
            border-bottom: 2px solid transparent;
            transition: all 0.1s;
            line-height: 1.2;

            &:hover {
                  color: $color-primary-dark;
                  border-bottom: 2px solid $color-primary;
            }
      }

      &__form {

      }

      &__headingContainer {

      }

      &__headingSvg {
            
      }

      &__inputGroup {

      }

      &__label {

      }

      &__input {

      }

      &__textArea {
            resize: none;
      }

      &__sendButton {

      }

      &__sendSvg {
            
      }

}